* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --bg-color: #fdfdfd;
    --text-color: #333;
    --main-color: #76136d;
    --white-color: #fdfdfd;
    --shadow-color: rgba(0, 0, 0, .2);
}

body {
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
}

section {
    min-height: 100vh;
    padding: 10rem 7% 2rem;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.about-img img {
    width: 40vw;
    border-radius: 5px;
}

.heading {
    font-size: 4.5rem;
    text-align: center;
}

.about-content h2 {
    text-align: left;
    line-height: 1.2;
}

.about-content h3 {
    font-size: 2rem;
}

.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.heb {
    text-align: right;
}

.note {
    font-size: 12px;
}

.btn {
    display: inline-block;
    padding: 1.2rem 2.8rem;
    background: var(--main-color);
    border-radius: 10px;
    box-shadow: 0 .2rem .5rem var(--shadow-color);
    font-size: 1.2rem;
    color: var(--white-color);
    letter-spacing: .1rem;
    font-weight: 600;
    border: .2rem solid transparent;
    transition: .5s ease;
}

.btn:hover {
    background: transparent;
    color: var(--main-color);
    border-color: var(--main-color);
}

.tech {
    display: flex;
    margin-top: 35px;
    justify-content: space-around;
}

.tech>img {
    width: 10%;
}

.tech>img:hover {
    transform: scale(1.2);
}

.imgLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 40px;
    width: 90%;
}

.copyright {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    font-weight: 300;
    margin-top: 20px;
    font-size: 1.6rem;
}

.copyright i {
    color: red;
    transition: color 0.5s;
}

.copyright i:hover {
    color: #fff;
}