:root {
    --primary-color: #0a1118;
    --primary-color-highlight: #233D54;
    --bs-body-bg: #FBF0F6;
    --bs-body-font-family: 'Montserrat', sans-serif;
}

a {
    color: var(--primary-color);
}

a:hover {
    color: var(--primary-color);
}


.container-custom {
    width: 100%;
    padding: 0 1rem;
    margin: 0 auto;
}

@media (min-width: 1200px) {
    .container-custom {
        width: 1140px;
    }
}


/*
* Main Header
*/

.header {
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem;
    background: var(--bg-color); /*שקוף*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 100;
}


.navbar a {
    font-size: 1.5rem;
    color: #fff;
    margin-left: 4rem;
    cursor: pointer;
    transition: 0.4s all ease;
    list-style-type: none;
    text-decoration: none;
}

.navbar a:hover {
    color: var(--primary-color);
}



/*
* title Section
*/
.title {
    position: relative;
    height: 100vh;
    background-color: var(--primary-color);
    overflow: hidden;
}

.title_video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
}

.title_overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: var(--primary-color);
    opacity: 0.5;
    z-index: 1;
}

.title_content {
    z-index: 1;
}

.title_content-width {
    max-width: 540px;
}

.title_scroll-btn {
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    z-index: 1;
    color: var(--bs-body-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.title_scroll-btn:hover {
    color: var(--primary-color-highlight);
    opacity: 0.8;
}

.title_scroll-btn .bi {
    transition-delay: 0.8s;
    animation: bounce 1s infinite alternate;
}


@keyframes bounce {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-10px);
    }
}

/* ------------------------SKILLS Start-------------------------------------- */

.skillsContainer {
    list-style-type: none;
    padding: 5px;
    background-color: var(--primary-color-highlight);
}

.skillsContainer ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 2px;
}

.skillsContainer ul li {
    justify-content: space-evenly;
    margin: 0 auto;
}

.skillsContainer ul li a:hover img {
    transform: scale(1.3);
}

.skillImg {
    height: 25px;
}

/* ------------------------SKILLS End-------------------------------------- */

/*
* Steps Section
*/
.steps {
    padding-top: 40px;
    padding-bottom: 40px;
}

.steps_section-thumbnail {
    height: 240px;
    object-fit: cover;
    margin: 0 auto;
}

.steps_content-width {
    max-width: 456px;
    margin: 0 auto;
}

.steps--background {
    background-color: #FEF8F9;
}

.img-fluid {
    border-radius: 20px;
}

@media (min-width: 544px) {
    .steps {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .steps_section-thumbnail {
        height: auto;
    }
}


/*
* Footer
*/
.footer .border-highlight {
    border-top: 1px solid var(--primary-color-highlight);
}