/****************************about me START********************************/

#aboutMe {
    margin: 15px;
    background-color: #666;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 15px;
}

.about-col-1 {
    flex-basis: 35%;
    margin: 15px;
}

.about-col-1 img {
    width: 100%;
    border-radius: 15px;
}

.about-col-2 {
    flex-basis: 60%;
}

.sub-title {
    font-size: 60px;
    font-weight: 600;
    color: #867657;
    margin: 25px 0 25px 0;
}

.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    color: darkred;
}

.tab-links:hover {
    color: palevioletred;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #b9995a, #667681;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

/* .tab-links:hover::after{
width: 100%;
} */
.tab-links.active-link::after {
    width: 50%;
}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span {
    color: lightgreen;
    font-size: 14px;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}


/****************************about me END********************************/