@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Lacquer&display=swap');

:root {
  --main-color: darkolivegreen;
  --main-title-color: #000;
  --main-bg-color: white;
  --main-font: 'Lacquer', cursive;
  --hover-color: saddlebrown;
}

/* Apply global styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* color:darkolivegreen; */
}

body {
  font-family: var(--main-font);
  background-color: var(--main-bg-color);
}

h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-top: 2rem;
  color: var(--main-title-color);
}

/* Style scoreboard */
.scoreboard {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.scoreboard > div {
  font-size: 1.2rem;
  margin: 0 1rem;
  padding: 0.5rem;
  border: 2px solid var(--main-color);
  border-radius: 10px;
  color: var(--main-color);
}

/* Style choices */
.choices {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.choice {
  border: 2px solid var(--main-color);
  border-radius: 10px;
  margin: 0 2rem;
  padding: 1rem;
  background-color: var(--main-bg-color);
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.choice:hover {
  transform: scale(1.1);
}

.choice:active {
  transform: scale(0.9);
}

.choice i {
  color: var(--main-color);
  font-size: 40px;
}

.choice i:hover {
  color: var(--hover-color);
}

/* Style result */
.result {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 2rem;
  color: var(--main-color);
}

#computer-choice {
  text-align: center;
  font-size: 2rem;
  color: var(--main-color);
}

/* Style timer */
.timer {
  text-align: center;
  font-size: 1.8rem;
  margin-top: 1rem;
  color: var(--main-color);
}

/* Style play again button */
.play-again {
  display: block;
  margin: 3rem auto 1rem auto;
  padding: 1rem 2rem;
  border: none;
  border-radius: 10px;
  background-color: var(--main-color);
  color: var(--main-bg-color);
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.play-again:hover {
  background-color: var(--hover-color);
}

/* .logo {
	position: absolute;
	top: 30px;
	right: 30px;
	display: block;
	z-index: 100;
	transition: all 250ms linear;
}

.logo img {
	height: 30px;
	width: auto;
	display: block;
} */

.play-again:active {
  transform: scale(0.9);
}

/* Add responsive design */
@media only screen and (max-width: 600px) {
  .choices {
    flex-wrap: wrap;
  }

  .choice {
    margin: 2rem 1rem;
  }

  .timer {
    margin-top: 1rem;
  }
}