/*********************************about me START*********************************/
#aboutMe {
    background: linear-gradient(180deg, #1b4332, #98c1d9, #1b4332);
}

.aboutMe {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
}

.aboutImg {
    border-radius: 50%;
    height: 300px;
    border: 2px solid #fff;
}

.aboutMySelf {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    line-height: 1.5;
    color: #330404;
    text-align: right;
    padding-right: 20px;
    /* overflow: auto; */
    resize: both;
    font-family: arial;
    font-size: 15px;
}

@media (max-width: 700px) {
    .aboutMe {
        display: grid;
        place-items: center;
        grid-template-columns: repeat(1, 1fr);
        gap: 2px;
    }

    .aboutMySelf {
        padding-top: 15px;
        text-align: center;
        flex-wrap: wrap;
    }
}
/*********************************about me END*********************************/