/*********************************projects START*********************************/
#projects {
    padding: 50px 0;
}

.projectTitle {
    color: #585123;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.projectsList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #667681;
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 16px;
    transition: height 0.5s;
}

.layer h2 {
    margin-bottom: 30px;
}

.layer a {
    margin-top: 30px;
    color: #080808;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.work:hover img {
    transform: scale(1.1);
}

.work:hover .layer {
    height: 100%;
}

@media (max-width: 650px) {
    .projectTitle {
        font-size: 30px;
    }
}
/*********************************projects END*********************************/