* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.header {
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem;
    background: var(--bg-color);
    /*שקוף*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 100;
}


.navbar a {
    font-size: 1.5rem;
    color: #fff;
    margin-left: 4rem;
    cursor: pointer;
    transition: 0.4s all ease;
    list-style-type: none;
    text-decoration: none;
}

.navbar a:hover {
    color: var(--primary-color);
}



/*
* title Section
*/
.title {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.titleContainer {
    width: 100%;
    height: 100vh;
    background-image: url(./img/shoesHeader.jpg);
    background-position: center;
    background-size: cover;
    z-index: 5;
    padding-top: 35px;
    padding-left: 8%;
    padding-right: 8%;
    color: #000;
}

.title_overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: var(--primary-color);
    opacity: 0.5;
    z-index: 1;
}

.title_content {
    z-index: 1;
}

.title_content-width {
    max-width: 540px;
}

.title_scroll-btn {
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    z-index: 1;
    color: var(--bs-body-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.title_scroll-btn:hover {
    color: var(--primary-color-highlight);
    opacity: 0.8;
}

.title_scroll-btn .bi {
    transition-delay: 0.8s;
    animation: bounce 1s infinite alternate;
}


@keyframes bounce {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-10px);
    }
}

/* ------------------------SKILLS Start-------------------------------------- */

.skillsContainer {
    list-style-type: none;
    padding: 5px;
    background-color: var(--primary-color-highlight);
}

.skillsContainer ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 2px;
}

.skillsContainer ul li {
    justify-content: space-evenly;
    margin: 0 auto;
}

.skillsContainer ul li a:hover img {
    transform: scale(1.3);
}

.skillImg {
    height: 25px;
}

/* ------------------------SKILLS End-------------------------------------- */

h5 {
    color:#fff;
}