@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin:  0; 
    padding:0;
    box-sizing: border-box;
} 

body{
    background: #29ADB2;
    font-family: 'poppins', sans-serif;
}

.container{
    padding: 25px;   
    width: 350px;
    background: white;
    border: 1px solid #000;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all .2s;
}

.container .BMITitle{
    text-align: center;
    font-size: 22px;
    color: #0c3464;  
}

.container .box{
    height:120px;       
    width:300px;
    background:white;
    border-radius:20px;
    margin:auto;
    margin-top:20px;
    padding:20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.container .box h4{
    text-align:center;        
}

.container .box input{
    all:unset;
    height:40px;
    width:200px;
    border-bottom:1px solid grey;
    position:absolute;
    left:50%;
    transform:translate(-50%,-50%);
    margin-top:25px;
    text-align:center;
}

.container .calculate-btn{
    all:unset;        
    height:45px;    
    width:100%;
    color:#fff;
    background:#05C069;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:10px;
    margin-top:15px;
    cursor:pointer;
}

.container .result-box{
    display:none;        
}

.container .result-box .BMIText{
    text-align:center;
    margin-top:17px;
    font-weight:500;
}

.container .result-box .bmi{
    padding-left:10px; 
    padding-right:10px;
    height:50px;
    background:white;
    border-radius:20px;
    display:flex;
    align-items:center;
    justify-content:center;
    color:#05C069;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin:auto;
    width:120px;
    margin-top:5px;
    font-size:23px;
}

.container .result-box .result{
    text-align:center;   
    font-size:15px;
    margin-top:15px;
}

.container .result-box .result span{
    color:#05C069;  
}

::selection {
    background:rgb(100, 149, 237, 0.8);
    color:white;
}
