@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

:root {
    --primary-color: #1a3175;
    --primary-color-dark: #1b2645;
    --lbg-coor-dark: #777;
    --text-dark: #0f172a;
    --text-light: #64748b;
    --extra-light: #f1f5f9;
    --white: #ffffff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: "Poppins", sans-serif;
}

nav {
    position: fixed;
    background-color:var(--lbg-coor-dark);
    width: 100%;
    border-radius: 0 0 10px;
    z-index: 111;
}

.navLink {
    list-style-type: none;
    text-decoration: none;
    color: var(--primary-color-dark);
}

.navLink:hover {
    color: var(--extra-light);
}

.section__container {
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
}

.section__header {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 3rem;
    color: var(--text-dark);
}

.btn {
    padding: 0.75rem 2rem;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 2rem;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background-color: var(--primary-color-dark);
}

img {
    width: 100%;
    display: flex;
}

nav {
    max-width: var(--max-width);
    margin: auto;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.nav__logo {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text-dark);
}

.nav__links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.link a {
    font-weight: 500;
    color: var(--text-light);
    transition: 0.3s;
}

.link a:hover {
    color: var(--text-dark);
}

/*****************************************************************************************************************/

.skills {
    background-color: rgb(53, 128, 128);
    display: flex;
    justify-content: center;
    z-index: 9;
}

.skills ul {
    text-decoration: none;
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 2px;
    background-color: rgb(53, 128, 128);
}

.skills ul li {
    background-color: rgb(53, 128, 128);
}

.skills ul li a {
    background-color: rgb(53, 128, 128);
}

.skills ul li a img {
    height: 22px;
    margin: 10px;
    background-color: rgb(53, 128, 128);
}

.skills ul li a:hover img {
    transform: scale(1.3);
}

/*****************************************************************************************************************/

.header__container .section__header {
    text-align: center;
    font-size: 3rem;
    line-height: 4rem;
}

.plan__container .subheader {
    margin-bottom: 1rem;
    text-align: center;
    font-weight: 600;
    color: var(--text-dark);
    letter-spacing: 5px;
}

.boeing {
    background-color: var(--lbg-coor-dark);
    border-radius: 20px;
}

.plan__content__boeing p {
    color:var(--white);
}
.plan__container .section__header {
    text-align: center;
    font-size: 3rem;
    line-height: 4rem;
    margin-bottom: 1rem;
}

.plan__container .description {
    text-align: center;
    color: var(--text-light);
}

.plan__grid {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.plan__content .number {
    display: inline-block;
    padding: 5px 15px;
    margin-bottom: 0.5rem;
    font-weight: 600;
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 2rem;
}

.plan__content .number:nth-child(4) {
    background-color: #e98b6d;
}

.plan__content .number:nth-child(7) {
    background-color: #ffcca3;
}

.plan__content h4 {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-dark);
    margin-bottom: 0.5rem;
}

.plan__content p {
    color: var(--text-light);
    margin-bottom: 2rem;
}

.plan__image {
    position: relative;
}

.plan__image img {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 10rem;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.plan__image img:nth-child(1) {
    max-width: 250px;
    transform: translate(calc(-50% - 9rem), calc(-50% + 5rem));
    z-index: 3;
}

.plan__image img:nth-child(2) {
    max-width: 260px;
    transform: translate(-50%, calc(-50% - 5rem));
    z-index: 2;
}

.plan__image img:nth-child(3) {
    max-width: 230px;
    transform: translate(calc(-50% + 9rem), calc(-50% + 5rem));
}

.lounge__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.lounge__grid {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.lounge__image {
    position: relative;
}

.lounge__image img {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 20rem;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.lounge__image img:nth-child(1) {
    max-width: 300px;
    transform: translate(calc(-50% - 3rem), -50%);
}

.lounge__image img:nth-child(2) {
    max-width: 200px;
    transform: translate(calc(-50% + 6rem), calc(-50% + 7rem));
}

.lounge__details h4 {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-dark);
    text-align: center;
}

.lounge__details p {
    color: var(--text-light);
    text-align: right;
}

.footer {
    background-color: var(--primary-color);
}

.footer__container {
    display: grid;
    grid-template-columns: 2fr repeat(2, 1fr);
    gap: 5rem;
    border-radius: 20px;
}

.footer__col h3 {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--white);
    margin-bottom: 1rem;
}

.footer__col h4 {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--white);
    margin-bottom: 1rem;
}

.footer__col p {
    color: var(--extra-light);
    margin-bottom: 1rem;
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
}

.footer__col p:hover {
    color: var(--white);
}

.footer__bar {
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    border-top: 1px solid var(--extra-light);
}

.footer__bar p {
    font-size: 0.9rem;
    color: var(--extra-light);
}

.socials {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.socials span a {
    font-size: 1.2rem;
    color: white;
}

.social span a {
    color:black ;
}

.social span a:after {
    color: black ;
}

@media (width < 900px) {
    .header__container img {
        min-width: 900px;
        margin-left: 50%;
        transform: translateX(-50%);
    }


    .plan__grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .plan__image {
        min-height: 600px;
        grid-area: 1/1/2/2;
    }

    .lounge__container {
        grid-template-columns: repeat(1, 1fr);
    }

    .lounge__image {
        min-height: 600px;
    }

    .travellers__grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer__container {
        gap: 2rem;
    }
}

@media (width < 600px) {
    .nav__logo {
        display: none;
    }

    .section__header {
        text-align: center;
    }

    .lounge__grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .travellers__grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .footer__container {
        grid-template-columns: 1fr;
    }

    .footer__bar {
        flex-direction: column;
        text-align: center;
    }

    .footer__col {
        align-items: center;
        text-align: center;
        color: var(--white);
    }
}